[mgr]
cwd = { fg = "#{{base0C-hex}}" }

find_keyword = { bold = true, fg = "#{{base0A-hex}}" }
find_position = { fg = "#{{base0E-hex}}" }

marker_copied = { fg = "#{{base0B-hex}}", bg = "#{{base0B-hex}}" }
marker_cut = { fg = "#{{base08-hex}}", bg = "#{{base08-hex}}" }
marker_selected = { fg = "#{{base0A-hex}}", bg = "#{{base0A-hex}}" }

tab_inactive = { fg = "#{{base05-hex}}" }
tab_active = { fg = "#{{base00-hex}}", bg = "#{{base05-hex}}"}

count_copied = { fg = "#{{base00-hex}}", bg = "#{{base0B-hex}}" }
count_cut = { fg = "#{{base00-hex}}", bg = "#{{base08-hex}}" }
count_selected = { fg = "#{{base00-hex}}", bg = "#{{base0A-hex}}" }

border_style = { fg = "#{{base0D-hex}}" }

[indicator]
parent = { reversed = true }
current = { reversed = true }
preview = { underline = true }

[mode]
normal_main = { fg = "#{{base00-hex}}", bg = "#{{base0D-hex}}", bold = true }
normal_alt = { fg = "#{{base0D-hex}}", bg = "#{{base02-hex}}" }

select_alt = { fg = "#{{base0E-hex}}", bg = "#{{base02-hex}}" }
select_main = { fg = "#{{base00-hex}}", bg = "#{{base0E-hex}}", bold = true }

unset_main = { fg = "#{{base00-hex}}", bg = "#{{base08-hex}}", bold = true }
unset_alt = { fg = "#{{base08-hex}}", bg = "#{{base02-hex}}" }

[status]
perm_exec = { fg = "#{{base0B-hex}}" }
perm_read = { fg = "#{{base0A-hex}}" }
perm_sep = { fg = "#{{base0C-hex}}" }
perm_type = { fg = "#{{base0D-hex}}" }
perm_write = { fg = "#{{base08-hex}}" }

progress_error = { fg = "#{{base08-hex}}", bg = "#{{base00-hex}}" }
progress_label = { fg = "#{{base05-hex}}", bg = "#{{base00-hex}}" }
progress_normal = { fg = "#{{base05-hex}}", bg = "#{{base00-hex}}" }

[pick]
active = { fg = "#{{base0E-hex}}" }
border = { fg = "#{{base0D-hex}}" }
inactive = { fg = "#{{base05-hex}}" }

[task]
title = { fg = "#{{base0D-hex}}" }
border = { fg = "#{{base0D-hex}}" }
hovered = { fg = "#{{base05-hex}}", bg = "#{{base02-hex}}" }

[input]
border = { fg = "#{{base0D-hex}}" }
selected = { bg = "#{{base02-hex}}" }

[help]
desc = { fg = "#{{base05-hex}}" }
on = { fg = "#{{base0C-hex}}" }
run = { fg = "#{{base0E-hex}}" }
hovered = { reversed = true, bold = true }
footer = { fg = "#{{base02-hex}}", bg = "#{{base05-hex}}" }

[which]
mask = { bg = "#{{base02-hex}}" }
desc = { fg = "#{{base05-hex}}" }
cand = { fg = "#{{base0C-hex}}" }
rest = { fg = "#{{base0F-hex}}" }

separator_style = { fg = "#{{base04-hex}}" }

[notify]
title_info = { fg = "#{{base0C-hex}}" }
title_warn = { fg = "#{{base0A-hex}}" }
title_error = { fg = "#{{base08-hex}}" }
 
[filetype]
rules = [
  { mime = "image/*", fg = "#{{base0C-hex}}" },
  { mime = "{audio, video}/*", fg = "#{{base0A-hex}}" },
   
  { mime = "application/{pdf,doc,rtf}", fg = "#{{base0B-hex}}" },
  
  { mime = "application/{{zip,rar,7z*,tar,gzip,xz,zstd,bzip*,lzma,compress,archive,cpio,arj,xar,ms-cab*},", fg = "#{{base0E-hex}}" },
  
  { mime = "inode/directory", fg = "#{{base0D-hex}}" },
  { mime = "*", fg = "#{{base05-hex}}" },
]


